<ion-content [fullscreen]="true">
  <!--header-->
  <div class="header"><h1>Notification</h1></div>

  <!--this week box-->
  <div class="dateNotif">This Week</div>
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->

  <!--last week box-->
  <div class="dateNotif">Last Week</div>
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->

  <!--last month box-->
  <div class="dateNotif">Last Month</div>
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right"></div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->
  <!--example-->
  <div class="notifBox">
    <div class="left">
      <div class="emoji"></div>
    </div> <!--emoji-->
    <div class="mid">
      <div class="shortDesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Labore harum dolorem blanditiis odio, a adipisci animi iure nemo at 
        facilis maiores deleniti maxime</div>
    </div> <!--short description-->
    <div class="right">
      <div class="btn">See Details</div>
    </div> <!--if got offered/recruited by-->
  </div> <!--loop if more than one-->

  <!--navigation-->
  <div class="navigation">
    <div class="navbox" [routerLink]="['/home']">
      <ion-icon name="home" class="icons" [routerLink]="['/home']"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="search" class="icons" [routerLink]="['/search']"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="add-circle" class="icons" color="danger" [routerLink]="['/posting']"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="notifications" class="icons" color="medium"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="person" class="icons" [routerLink]="['/myportfolio']"></ion-icon>
    </div>
  </div>
</ion-content>
