*{
    background-color: white;
}

ion-content{
    --ion-background-color: white;
}

p,h1,h2,h3,a{
    color: black;
    background-color: transparent;
}

.header{
    display: block;
    position: fixed; top: 0;
    width: 100%; height: 7vh;
    background-color: #f7e017;
    padding-left: 30px;
}

//copy navigation n navbox
.navigation{
    display: flex;
    position: fixed;
    bottom: 15px;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    width: 90%; height: 6%;
    background-color: #f7e017;
    border: 1px solid #f7e017;
    border-radius: 25px;
}

.navbox{
    display: grid;
    flex: auto; height: 100%;
    background-color: transparent;
}

ion-icon{
    color: black;
}

.icons{
    width: 50%; height: 50%;
    margin: auto;
    background-color: transparent;
}

//notification box below
.dateNotif{
    display: block;
    width: 100%; height: 30px;
    margin-top: 14%;
    margin-bottom: 40px;
    color: black; font-size: 18px;
    font-weight: bold;
    padding-left: 35px; line-height: 100px;
}

.notifBox{
    display: flex;
    width: 90%; height: 100px;
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    margin-left: auto; margin-right: auto;
    margin-bottom: 20px;
}

.notifBox:nth-last-child(2){
    margin-bottom: 25%;
}

.left, .mid, .right{
    flex: 30%; height: 100%;
    background-color: transparent;
}

.left{
    flex: 15%;
}

.right{
    flex: 20%;
}

.emoji{
    display: block;
    background-color: red;
    width: 80%; height: 80%;
    margin-left: auto; margin-right: auto;
    border-radius: 50%;
    margin-top: 10%;
}

.shortDesc{
    padding: 10px;
    color: black; font-size: 11px;
    background-color: transparent;
}

.btn{
    display: block;
    width: 80%; height: 30%;
    border-radius: 40px;
    background-color: #f7e017;
    margin-top: 30%;
    color: black; font-size: 14px;
    text-align: center; padding-top: 5px;
}