ion-content{
    --ion-background-color: white;
}

.headercolor{
    --background: transparent;
    --color: black;
}

h1,p{
    color: black;
    font-weight: bold; font-family: Arial;
}

p{
    color: rgb(100, 99, 99);
    font-size: 14px; font-weight: lighter;
    padding-right: 70px;
}

p:nth-last-child(1){
    padding-bottom: 50px;
}

h1{
    font-size: 32px;
    padding-right: 70px;
}

b{
    font-size: 16px;
}

.title, .subtitle{
    display: block;
    width: 100%; height: 12%;
    padding-left: 30px;
}

.title{
    margin-top: 20px;
}