<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--title-->
  <div class="title">
    <h1>Sign Up</h1>
  </div>
  <!--subtitle-->
  <div class="subtitle">
    <p>Create your account</p>
  </div>
  <!--form-->
  <form action="">
    <!--input-->
    <div class="inputField">
      <ion-label color="light">Username</ion-label>
      <ion-item color="dark">
        <ion-icon name="mail"></ion-icon> &nbsp;
        <ion-input type="text" placeholder="Your username"></ion-input>
      </ion-item>
      <ion-label color="light">Email</ion-label>
      <ion-item color="dark">
        <ion-icon name="lock-closed"></ion-icon> &nbsp;
        <ion-input type="mail" placeholder="Your Email"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
      <ion-label color="light">Password</ion-label>
      <ion-item color="dark">
        <ion-icon name="lock-closed"></ion-icon> &nbsp;
        <ion-input type="password" placeholder="Your Password"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
      <ion-label color="light">Contact Number</ion-label>
      <ion-item color="dark">
        <ion-icon name="lock-closed"></ion-icon> &nbsp;
        <ion-input type="number" placeholder="Your Number"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
    </div>
    <!--register button-->
    <div class="registerbtn"><ion-button>Register</ion-button></div>
    <!--terms n conditions-->
    <div class="terms">
      <p>By clicking Register, you agreeing to our <a>Terms and Conditions</a></p>
    </div>
  </form>
</ion-content>
