ion-content{
    --ion-background-color: white;
}

.headercolor{
    --background: transparent;
    --color: black;
}

h1,p{
    color: black;
    font-weight: bold; font-family: Arial;
}

p{
    color: rgb(100, 99, 99);
    font-size: 14px;
}

h1{
    font-size: 32px;
}

.title, .subtitle{
    display: block;
    width: 100%; height: 4%;
    padding-left: 30px;
}

.title{
    margin-top: 20px;
}

.inputField{
    display: block;
    width: 100%; height: 55vh;
}

ion-item{
    border-radius: 20px;
    width: 70%; height: 10%;
    margin-left: 30px;
    margin-bottom: 20px;
}

ion-label{
    display: block;
    margin-top: 20px; margin-bottom: 10px;
    margin-left: 30px;
}

.registerbtn{
    display: block;
    width: 100%; height: 10vh;
}

ion-button{
    display: block;
    width: 40%; height: 10px;
    font-size: 14px;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
}

.terms{
    display: block;
    width: 100%; height: 10vh;
    text-align: center; font-size: 14px;
    font-weight: none; padding-left: 45px; padding-right: 45px;
}