<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--info-->
  <div class="info">
    <p>To comply with our principles and remain on the site, 
      all jobs submitted must fulfil certain quality requirements. 
      All job postings must be genuine, accurate, and comprehensive regarding the position they promote, 
      as well as conform with Findbeez terms and conditions.</p>
  </div>
  <!--guideline button-->
  <div class="guide">
    <a [routerLink]="['../job/guide']">Click Here for post guidelines</a>
  </div>
  <!--form-->
  <form action="">
    <!--title-->
    <h5>Job Title*</h5>
    <ion-item>
      <ion-input type="text" placeholder="Add the job title you're looking for..."></ion-input>
    </ion-item>
    <!--company-->
    <h5>Company*</h5>
    <ion-item>
      <ion-input type="text" placeholder="Add your company name..."></ion-input>
    </ion-item>
    <!--workplace type-->
    <h5>Workplace Type*</h5>
    <ion-item>
      <ion-select placeholder="Select your workplace type">
        <ion-select-option>Remote</ion-select-option>
        <ion-select-option>Onside</ion-select-option>
        <ion-select-option>Offside</ion-select-option>
      </ion-select>
    </ion-item>
    <!--job area-->
    <h5>Job Area*</h5>
    <ion-item>
      <ion-select placeholder="Select your area">
        <ion-select-option>Brunei-Muara</ion-select-option>
        <ion-select-option>Tutong</ion-select-option>
        <ion-select-option>Temburong</ion-select-option>
        <ion-select-option>Kuala Belait</ion-select-option>
      </ion-select>
    </ion-item>
    <!--job type-->
    <h5>Job Type*</h5>
    <ion-item>
      <ion-select placeholder="Select your job type">
        <ion-select-option>Full-time</ion-select-option>
        <ion-select-option>Part-time</ion-select-option>
        <ion-select-option>Intern</ion-select-option>
        <ion-select-option>I-ready</ion-select-option>
      </ion-select>
    </ion-item>
    <!--description-->
    <h5>Descriptions*</h5>
    <ion-item>
      <ion-textarea placeholder="Tips: Provide a synopsis of the function, what success in the position looks like, and how this role fits into the wider organisation.

Responsibilities :
Be explicit when outlining each responsibility. Use gender-neutral, inclusive language. 

Qualifications :
Some credentials you may wish to add are Skills, Education, Experience, or Certifications."></ion-textarea>
    </ion-item>
    <ion-button>Post a job now</ion-button>
    <br>
  </form>
</ion-content>
