*{
    background-color: white;
}

ion-content{
    --ion-background-color: white;
}

p,h1,h2,h3,a{
    color: black;
    background: transparent;
}

//copy navigation n navbox
.navigation{
    display: flex;
    position: fixed;
    bottom: 15px;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    width: 90%; height: 6%;
    background-color: #f7e017;
    border: 1px solid #f7e017;
    border-radius: 25px;
}

.navbox{
    display: grid;
    flex: auto; height: 100%;
    background-color: transparent;
}

ion-icon{
    color: black;
}

.icons{
    width: 50%; height: 50%;
    margin: auto;
    background-color: transparent;
}

.hero{
    display: block;
    width: 100%; height: 22vh;
    background: url('https://placehold.co/840x400');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border: 1px solid black;
}

@media only screen and (max-width: 400px){
    .hero{
        background: url('https://placehold.co/770x300');
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid black;
    }
}

.myDesc{
    display: block;
    width: 95%; height: 17vh;
    margin-top: 40px;
    margin-left: auto; margin-right: auto;
    background-color: rgb(212, 209, 209);
}

.descBox{
    display: flex;
    height: 100%;
    background: transparent;
}

.descLeft, .descRight{
    flex: 50%;
    height: auto;
    background: transparent;
}

.myimg{
    display: block;
    width: 90%; height: 90%;
    margin-left: auto; margin-right: auto;
    margin-top: 7px;
    background: url('https://placehold.co/650x500');
    background-size: contain;
    background-repeat: no-repeat;
}

.dltop, .dlbottom{
    display: block;
    width: 100%;
    padding-left: 15px;
    background: transparent;
}

.dltop{
    height: 30%;
    padding-top: 10px;
}

.dlbottom{
    height: 70%;
}

.navBox{
    display: flex;
    width: 95%; height: 6vh;
    margin-top: 30px;
    margin-left: auto; margin-right: auto;
    text-align: center; color: black;
    line-height: 50px;
}

.nav{
    flex: 30%;
    background-color: rgb(212, 209, 209);
}

.space{
    flex: 5%;
}

.bigBox{
    display: block;
    width: 95%; height: 45%;
    margin-top: 30px;
    margin-left: auto; margin-right: auto;
    background: url('https://placehold.co/740x760');
    background-size: contain;
    background-repeat: no-repeat;
}


//gallery
.galleryBox{
    display: block;
    width: 95%; height: 18vh;
    margin-left: auto; margin-right: auto;
    margin-top: 5px; margin-bottom: 50px;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.galleryBox:nth-last-child(2){
    margin-bottom: 100px;
}

.gallerySlides{
    display: inline-block;
    width: 45%; height: 100%;
    background: url('https://placehold.co/500x460');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.gallerySlides:nth-child(1){
    margin-left: 0;
}

.title{
    display: flex;
    width: 95%; height: 20px;
    margin-top: 25px;
    margin-left: auto; margin-right: auto;
}

.leftTitle, .rightTitle{
    height: 100%;
    color: black; padding-left: 10px;
}

.leftTitle{
    flex: 75%;
    font-size: 18px; font-weight: bold;
}

.rightTitle{
    flex: 25%;
    font-size: 16px; color: blue;
    text-decoration: underline;
}

//testimonials
.testimonialSlide{
    display: inline-block;
    width: 65%; height: 100%;
    background: url('https://placehold.co/700x460');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.testimonialSlide:nth-child(1){
    margin-left: 0;
}