<ion-content [fullscreen]="true">
  <!--banner-->
  <div class="hero"></div>

  <!--description-->
  <div class="myDesc">
    <div class="descBox">
      <div class="descLeft">
        <div class="dltop"><p>Name here</p></div> <!--username sini-->
        <div class="dlbottom"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div> <!--description sini-->
      </div>
      <div class="descRight">
        <div class="myimg"></div>
      </div>
    </div>
  </div>

  <!--navigation buttons-->
  <div class="navBox">
    <div class="nav"></div>
    <div class="space"></div>
    <div class="nav"></div>
    <div class="space"></div>
    <div class="nav"></div>
  </div>

  <!--box-->
  <div class="bigBox"></div>
</ion-content>
