<ion-content [fullscreen]="true">
  <!--banner-->
  <div class="hero"></div>

  <!--description-->
  <div class="myDesc">
    <div class="descBox">
      <div class="descLeft">
        <div class="dltop"><p>Name here</p></div> <!--username sini-->
        <div class="dlbottom"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div> <!--description sini-->
      </div>
      <div class="descRight">
        <div class="myimg"></div>
      </div>
    </div>
  </div>

  <!--navigation buttons-->
  <div class="navBox">
    <div class="nav">Education</div>
    <div class="space"></div> <!--just empty space-->
    <div class="nav">Experience</div>
    <div class="space"></div> <!--just empty space-->
    <div class="nav">Skills</div>
  </div>

  <!--box-->
  <div class="bigBox"></div>

  <!--gallery-->
  <div class="title">
    <div class="leftTitle">Pictures</div>
    <div class="rightTitle">See More</div>
  </div>
  <div class="galleryBox">
    <div class="gallerySlides"></div>
    <div class="gallerySlides"></div>
    <div class="gallerySlides"></div>
    <div class="gallerySlides"></div>
    <div class="gallerySlides"></div>
  </div>

  <!--testimonials-->
  <div class="title">
    <div class="leftTitle">Testimonials</div>
    <div class="rightTitle">See More</div>
  </div>
  <div class="galleryBox">
    <div class="testimonialSlide"></div>
    <div class="testimonialSlide"></div>
    <div class="testimonialSlide"></div>
    <div class="testimonialSlide"></div>
    <div class="testimonialSlide"></div>
  </div>

  <!--navigation-->
  <div class="navigation">
    <div class="navbox">
      <ion-icon name="home" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="search" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="add-circle" class="icons" color="danger"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="notifications" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="person" class="icons" color="medium"></ion-icon>
    </div>
  </div>
</ion-content>
