<ion-content [fullscreen]="true">
  <!--banner-->
  <div class="hero"></div>

  <!--description-->
  <div class="myDesc">
    <div class="descBox">
      <div class="descLeft">
        <div class="dltop"><p>Name here</p></div> <!--username sini-->
        <div class="dlbottom"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div> <!--description sini-->
      </div>
      <div class="descRight">
        <div class="myimg"></div>
      </div>
    </div>
  </div>

  <!--navigation buttons-->
  <div class="navBox">
    <div class="nav"></div>
    <div class="space"></div>
    <div class="nav"></div>
    <div class="space"></div>
    <div class="nav"></div>
  </div>

  <!--box-->
  <div class="bigBox"></div>

  <!--gallery-->
  <div class="galleryBox">
    <div class="galleryTop">
      <div class="gtLeft"><p>Pictures & Videos</p></div>
      <div class="gtRight"><p>See More</p></div>
    </div>
    <div class="galleryBott">
      <div class="gallerySwiper"></div>
      <div class="gallerySwiper"></div>
      <div class="gallerySwiper"></div>
      <div class="gallerySwiper"></div>
    </div>
  </div>

  <!--testimonials (reuse gallery css)-->
  <div class="galleryBox">
    <div class="galleryTop">
      <div class="gtLeft"><p>Testimonials</p></div>
      <div class="gtRight"><p>See More</p></div>
    </div>
    <div class="galleryBott">
      <!--only width size is different-->
      <div class="testimonialSwiper"></div>
      <div class="testimonialSwiper"></div>
      <div class="testimonialSwiper"></div>
      <div class="testimonialSwiper"></div>
    </div>
  </div>

  <!--navigation-->
  <div class="navigation">
    <div class="navbox">
      <ion-icon name="home" class="icons" color="medium"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="search" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="add-circle" class="icons" color="danger"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="notifications" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="person" class="icons"></ion-icon>
    </div>
  </div>
</ion-content>
