*{
    background-color: white;
}

ion-content{
    --ion-background-color: white;
}

ion-toolbar{
    --background: #f7e017;
}

ion-buttons{
    width: 20%;
    display: block;
    background-color: #f7e017;
    --border-style: none;
}

ion-back-button{
    --background: #f7e017;
    --border-style: none;
}

.headercolor{
    --color: black;
    --border-style: none;
    padding-top: 10px;
}

//for image
.image{
    display: block;
    width: 95%; height: 35%;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
    background: url('https://placehold.co/1200x900'); //image for posting
    background-size: contain;
    background-repeat: no-repeat;
}

//for information
.box{
    display: block;
    width: 100%; height: 22vh;
    padding: 20px;
    color: rgb(117, 117, 117); font-size: 14px;
    text-align: justify; line-height: 20px;
}

form{
    display: block;
    width: 100%; height: 50vh;
    padding-top: 20px;
    color: black;
    margin-bottom: 50px;
    line-height: 20px;
}

ion-item{
    --background: transparent;
    --border-style: none;
    color: black;
    margin-left: auto; margin-right: auto;
}

h5{
    margin-left: 20px;
}

ion-input, ion-textarea{
    display: block;
    width: 100%; height: 30px;
    background: transparent;
}

ion-textarea{
    height: 24vh;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 10px;
    padding: 20px !important;
    text-align: justify; 
}

ion-button{
    display: block;
    width: 40%; height: 30px;
    margin-left: auto; margin-right: auto;
    margin-top: 30px;
}