<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light" text="Job Title Here"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--post date-->
  <div class="userbox">
    <p>Area Here; post date here</p>
    <p>Username Here</p>
  </div>
  <!--banner-->
  <div class="bannerBox"></div>
  <!--time & workplace-->
  <div class="datebox">
    <p>Job type: <b>Full-Time</b></p>
    <p>Workplace type: <b>Remote</b></p>
  </div>
  <!--descriptions-->
  <div class="descBox">
    <h3>Job Descriptions :</h3>
    <p><b>Company Name </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <p>
    <b>The role :</b> <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <p>
    <b>Responsibilities :</b> <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <p>
    <b>Ideal profile :</b> <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    
    <b>Skills Required :</b>
    <ol>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
    </ol>

    <br>

    <b>What can we offer?</b>
    <ol>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
      <li>Lorem ipsum</li>
    </ol>
  </div>
  <!--report btn-->
  <div class="reportBox">
    Report
  </div>
</ion-content>
