<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light" text="FriendUsername"></ion-back-button> <!--change username here-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--date-->
  <div class="date"> <!--loop if different date-->
    <p>25th September 2023</p> <!--date change when based on current time chat-->
    <!--other chat-->
    <div class="other"> <!--loop if this user keep texting-->
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Numquam ut laborum corrupti vero esse libero eos quis dolorem voluptatem optio? Quisquam a amet animi quis incidunt natus eveniet quod quaerat?
      <p>10:13 am</p> <!--this will be the time--></div>
    </div>
    <!--my chat-->
    <div class="mine"> <!--loop if current user keep texting-->
      <div>Test 2 <p>10:13 am</p> <!--this will be the time--></div>
    </div>
    <!--if loop-->
    <div class="mine">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor placeat totam id error atque necessitatibus inventore. 
        Unde similique necessitatibus culpa, sapiente nobis illo non perspiciatis ipsa cum officiis veniam.
        <p>10:13 am</p></div>
    </div>
  </div>

  <!--date if loop-->
  <div class="date"> <!--loop if different date-->
    <p>27th September 2023</p> <!--date change when based on current time chat-->
    <!--other chat-->
    <div class="mine"> <!--loop if this user keep texting-->
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Numquam ut laborum corrupti vero esse libero eos quis dolorem voluptatem optio? Quisquam a amet animi quis incidunt natus eveniet quod quaerat?
      <p>10:13 am</p> <!--this will be the time--></div>
    </div>
    <!--my chat-->
    <div class="other">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam dolor placeat totam id error atque necessitatibus inventore. 
        Unde similique necessitatibus culpa, sapiente nobis illo non perspiciatis ipsa cum officiis veniam.
        <p>10:13 am</p></div>
    </div>
    <!--if loop-->
    <div class="other"> <!--loop if current user keep texting-->
      <div>Test 2 <p>10:13 am</p> <!--this will be the time--></div>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar class="headercolor">
    <form action="" class="message">
      <ion-input></ion-input>
      <ion-icon name="paper-plane"></ion-icon> <!--submit here-->
    </form>
  </ion-toolbar>
</ion-footer>
