<ion-content [fullscreen]="true">
  <!--logo-->
  <div class="logo"><img src="../../../assets/icon/mainLogo.png" alt="logo image"></div>
  <!--input field-->
  <form action="">
  <div class="loginform">
      <ion-item color="dark">
        <ion-icon name="mail"></ion-icon> &nbsp;
        <ion-input type="mail" placeholder="Enter your email"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-icon name="lock-closed"></ion-icon> &nbsp;
        <ion-input type="password" placeholder="Enter your password"></ion-input>
        <ion-icon name="eye"></ion-icon>
      </ion-item>
  </div>
  <!--forgot password-->
  <div class="forgotPass">Forgot Password</div>
  <!--login button or create new account-->
  <div class="btn"><ion-button>Login</ion-button></div>
  </form>
  <div class="optional">
    <p>No Account? <a (click)="loginPage()">Click Here</a> to create your account</p>
  </div>
</ion-content>
