ion-content{
    --ion-background-color: #f7e017;
}

.logo{
    display: block;
    width: 80%; height: 40%;
    margin-top: 40%;
    margin-left: auto; margin-right: auto;
}

img{
    display: flex;
    margin-left: auto; margin-right: auto;
    height: 265px;
}