//general size
ion-content{
    --ion-background-color: white;
}

p{
    color: black;
    font-size: 18px;
}

h1{
    color: black;
    font-size: 38px;
}

.bigIcon{
    display: block;
    width: 100%; height: 35%;
    border: 1px solid black;
    text-align: center;
}

.title{
    display: block;
    width: 100%; height: 5%;
    text-align: center;
}

.subtitle{
    display: block;
    width: 100%; height: 15%;
    text-align: center;
    padding-left: 15px; padding-right: 15px;
}

.btnBox{
    display: block;
    width: 100%; height: 30%;
    text-align: center;
}

button{
    display: block;
    width: 250px; height: 40px; font-size: 18px;
    margin-left: auto; margin-right: auto;
}

button:active{
    background-color: #aa9900;
}

.loginBtn{
    margin-top: 50px;
    background-color: #f7e017;
    color: black; font-weight: bold;
    border-radius: 10px;
}

.regBtn{
    background-color: #FFF6A4;
    color: black; font-weight: bold;
    border-radius: 10px;
}

//tablet view landscape
@media only screen and (max-width: 1280px){
    h1{
        font-size: 28px;
    }

    p{
        font-size: 20px;
    }

    .subtitle{
        display: block;
        width: 100%; height: 10%;
        text-align: center;
        padding-left: 20px; padding-right: 20px;
    }

    button{
        width: 250px; height: 40px; font-size: 20px;
    }
}

//tablet view potrait
@media only screen and (max-width: 1000px){
    h1{
        font-size: 42px;
    }

    p{
        font-size: 32px;
    }

    .title{
        margin-top: 50px;
    }

    .subtitle{
        display: block;
        width: 100%; height: 15%;
        text-align: center;
        padding-left: 30px; padding-right: 30px;
    }

    button{
        width: 350px; height: 60px; font-size: 32px;
    }
}

//longer height devices
@media only screen and (max-width: 720px){
    h1{
        font-size: 24px;
    }

    p{
        font-size: 18px;
    }

    .subtitle{
        display: block;
        width: 100%; height: 15%;
        text-align: center;
        padding-left: 15px; padding-right: 15px;
    }

    button{
        width: 200px; height: 30px; font-size: 14px;
    }
}

//smaller width devices
@media only screen and (max-width: 300px){
    h1{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    .subtitle{
        display: block;
        width: 100%; height: 15%;
        text-align: center;
        padding-left: 15px; padding-right: 15px;
    }
}