<ion-content [fullscreen]="true">
  <!--icon-->
  <div class="bigIcon">
  </div>

  <!--title-->
  <div class="title">
    <h1>Welcome!</h1>
  </div>

  <!--subtitle-->
  <div class="subtitle">
    <p>Findbeez is here to help you simplify the process by making your job search or recruitment more productive, 
      informed, and successful by providing a wide range of solutions tailored to your specific needs.</p>
  </div>

  <!--button-->
  <div class="btnBox">
    <button class="loginBtn" (click)="loginPage()">Login</button>
    <p>or</p>
    <button class="regBtn" (click)="signupPage()">Create account</button>
  </div>
</ion-content>
