<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--image-->
  <div class="image"></div>
  <!--description-->
  <div class="box">
    Findbeez forbids discrimination in job postings based on protected characteristics, 
    including age, gender, gender identity, religion, ethnicity, race, national origin, disability, 
    sexual orientation, and any other basis protected by law, 
    However, Findbeez may include wording in posts 
    showing preference for members of particular groups historically under-represented in hiring in that region in a country where doing so is permitted.
    <br>
    
    <b>
      <br>
      1. Job postings must be clear and provide all necessary and truthful information. <br>
      2. All important and factual information must be communicated in posts. <br>
      3. Job titles and descriptions ought to coincide. <br>
      4. Job postings should be professional, with no excessive use of internal jargon, objectionable language, capitalization, or emojis. <br>
      5. You may employ numerous individuals for the same position, but you may not utilise the same job posting for multiple positions.
      <br>
    </b>
    <br>
    Example, you may say "Hiring 5 IT Technicians," but not "Hiring an IT Technician and a Graphic Designer."
    <br>
    <b>
      <br>
      6. Avoid asking for personal information (such as photographs or ID information) since candidates should not be required to provide such information before applying. <br>
      7. To build a high-performing job posting, use 200-400 words in your job description.
    </b>
  </div>
</ion-content>
