*{
    background-color: white;
}

ion-content{
    --ion-background-color: white;
}

ion-toolbar{
    --background: #f7e017;
}

ion-buttons{
    width: 25%;
    display: block;
    background-color: transparent;
}

ion-back-button{
    background-color: transparent;
    --border-style: none;
    --border-radius: 0;
}

.headercolor{
    --color: black;
    --border-style: none;
    padding-top: 10px;
}

//font
p,h1,h2,h3,h4,h5{
    color: black;
}

//for image
.image{
    display: block;
    width: 95%; height: 35%;
    margin-left: auto; margin-right: auto;
    margin-top: 20px;
    background: url('https://placehold.co/1200x900'); //image for posting
    background-size: contain;
    background-repeat: no-repeat;
}

//for descriptions
.box{
    display: block;
    width: 100%; height: 70vh;
    margin-left: auto; margin-right: auto;
    margin-bottom: 30px;
    padding: 20px;
    color: rgb(119, 119, 119);
    text-align: justify;
    line-height: 20px;
    font-size: 14px;
}

.box b{
    color: black;
}