<ion-header>
  <ion-toolbar class="headercolor">
    <ion-item slot="start">
      <ion-icon name="search" class="searchIcon"></ion-icon> &nbsp;
      <ion-input></ion-input>
    </ion-item>
    <ion-icon name="people" slot="end" class="friendBox"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--content here-->
  <div class="posts"></div>
  <!--navigation-->
  <div class="navigation">
    <div class="navbox">
      <ion-icon name="home" class="icons" color="medium"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="search" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="add-circle" class="icons" color="danger"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="notifications" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="person" class="icons"></ion-icon>
    </div>
  </div>
</ion-content>
