<ion-header>
  <ion-toolbar class="headercolor">
    <ion-item slot="start">
      <ion-icon name="search" class="searchIcon"></ion-icon> &nbsp;
      <ion-input></ion-input>
    </ion-item>
    <ion-icon name="people" slot="end" class="friendBox"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--content box here-->
  <swiper-container class="posts" autoplay="500" direction="vertical">
    <!--content here-->
    <swiper-slide style="background-image: url('../../assets/img/1.jpeg');">
    <div class="reports">
      <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
    </div>
    <div class="caption">
      <div class="leftCaption">
        <div class="topCaption">
          <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
        </div>
        <div class="bottomCaption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          Numquam itaque illum tempora <b>See more...</b>
        </div>
      </div>
      <div class="rightCaption">
        <div class="topCap">
          <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
        </div>
        <div class="bottomCap">
          <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
        </div>
      </div>
    </div>
    </swiper-slide>

    <!--the rest just dummy-->
    <swiper-slide style="background-image: url('../../assets/img/2.jpeg');">
      <div class="reports">
        <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
      </div>
      <div class="caption">
        <div class="leftCaption">
          <div class="topCaption">
            <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
          </div>
          <div class="bottomCaption">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Numquam itaque illum tempora <b>See more...</b>
          </div>
        </div>
        <div class="rightCaption">
          <div class="topCap">
            <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
          </div>
          <div class="bottomCap">
            <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
          </div>
        </div>
      </div>
      </swiper-slide>

      <swiper-slide style="background-image: url('../../assets/img/3.jpeg');">
        <div class="reports">
          <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
        </div>
        <div class="caption">
          <div class="leftCaption">
            <div class="topCaption">
              <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
            </div>
            <div class="bottomCaption">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Numquam itaque illum tempora <b>See more...</b>
            </div>
          </div>
          <div class="rightCaption">
            <div class="topCap">
              <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
            </div>
            <div class="bottomCap">
              <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
            </div>
          </div>
        </div>
        </swiper-slide>

        <swiper-slide style="background-image: url('../../assets/img/4.jpeg');">
          <div class="reports">
            <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
          </div>
          <div class="caption">
            <div class="leftCaption">
              <div class="topCaption">
                <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
              </div>
              <div class="bottomCaption">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Numquam itaque illum tempora <b>See more...</b>
              </div>
            </div>
            <div class="rightCaption">
              <div class="topCap">
                <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
              </div>
              <div class="bottomCap">
                <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
              </div>
            </div>
          </div>
          </swiper-slide>

          <swiper-slide style="background-image: url('../../assets/img/5.jpeg');">
            <div class="reports">
              <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
            </div>
            <div class="caption">
              <div class="leftCaption">
                <div class="topCaption">
                  <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
                </div>
                <div class="bottomCaption">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                  Numquam itaque illum tempora <b>See more...</b>
                </div>
              </div>
              <div class="rightCaption">
                <div class="topCap">
                  <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
                </div>
                <div class="bottomCap">
                  <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
                </div>
              </div>
            </div>
            </swiper-slide>

            <swiper-slide style="background-image: url('../../assets/img/6.jpeg');">
              <div class="reports">
                <ion-icon name="warning" class="reportBtn" color="danger"></ion-icon>
              </div>
              <div class="caption">
                <div class="leftCaption">
                  <div class="topCaption">
                    <ion-icon name="people" class="reportBtn" color="dark"></ion-icon> USERNAME HERE
                  </div>
                  <div class="bottomCaption">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Numquam itaque illum tempora <b>See more...</b>
                  </div>
                </div>
                <div class="rightCaption">
                  <div class="topCap">
                    <ion-icon name="heart" class="bottomIcons" color="dark"></ion-icon>
                  </div>
                  <div class="bottomCap">
                    <ion-icon name="chatbubble" class="bottomIcons" color="dark"></ion-icon>
                  </div>
                </div>
              </div>
              </swiper-slide>
  </swiper-container>

  <!--navigation-->
  <div class="navigation">
    <div class="navbox">
      <ion-icon name="home" class="icons" color="medium"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="search" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="add-circle" class="icons" color="danger"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="notifications" class="icons"></ion-icon>
    </div>
    <div class="navbox">
      <ion-icon name="person" class="icons"></ion-icon>
    </div>
  </div>
</ion-content>
