*{
    background-color: white;
}

ion-content{
    --ion-background-color: white;
}

.headercolor{
    --background: transparent;
    --color: black;
    --border-style: none;
    padding-top: 10px;
}

ion-item{
    border-radius: 20px;
    width: 60%; height: 6%;
    margin-left: 10px;
    --background: rgb(233, 233, 233);
    --border-style: none;
}

ion-icon{
    color: black;
}

.searchIcon{
    background-color: rgb(233, 233, 233);
}

ion-input{
    background-color: rgb(233, 233, 233);
    color: black;
}

.friendBox{
    width: 30px; height: 30px;
    margin-right: 10px;
}

.posts{
    display: flex;
    position: absolute;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    margin-top: 5px;
    width: 100%; height: 80%;
    bottom: 11vh;
}

.navigation{
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    width: 90%; height: 6%;
    background-color: #f7e017;
    border: 1px solid #f7e017;
    border-radius: 25px;
}

.navbox{
    display: grid;
    flex: auto; height: 100%;
    background-color: transparent;
}

.icons{
    width: 50%; height: 50%;
    margin: auto;
    background-color: transparent;
}

//for swiper slides
swiper-container{
    width: 100%; height: 100%;
}

swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: black;

    border: 0.5px solid #f1f1f1;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.reports{
    display: block;
    position: absolute;
    top: 0px;
    width: 100%; height: 10%;
    background-color: transparent;
    color: red;
    padding-left: 15px; padding-top: 15px;
}

.reportBtn{
    background-color: transparent;
    width: 20px; height: 20px;
}

.caption{
    display: flex;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px; 
    background-color: black; opacity: 85%;
    width: 100%; height: 15%;
}

.leftCaption{
    flex: 80%; height: 100%;
    background-color: transparent;
    padding-left: 10px;
}

.topCaption, .bottomCaption{
    display: block;
    width: 100%; height: 40%;
    background-color: transparent;
    padding-left: 10px; padding-top: 10px;
    color: white;
}

.bottomCaption{
    height: 60%;
    padding-top: 0px; padding-bottom: 20px;
}

b{
    background-color: transparent;
}

.rightCaption{
    flex: 20%; height: 100%;
    background-color: transparent;
}

.topCap, .bottomCap{
    display: block;
    width: 100%; height: 40%;
    background-color: transparent;
}

.bottomIcons{
    display: block;
    margin-top: 10px;
    width: 30px; height: 30px;
    background-color: transparent;
    margin-left: auto; margin-right: auto;
}

@media screen and (max-width: 400px){
    .caption{
        font-size: 12px;
    }

    .posts{
        height: 77%;
    }

    .bottomCaption{
        padding-top: 10px;
    }

    .topCap, .bottomCap{
        height: 35%;
    }

    .bottomIcons{
        width: 20px; height: 20px;
    }
}