<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light" text="Friends"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--add friend-->
  <form class="box1">
    <!--info-->
    <h3>Add your friend on Findbeez</h3>
    <p>You can add friends with their username</p>
    <!--input-->
    <ion-input type="text" placeholder="Enter Username..."></ion-input>
    <!--button-->
    <ion-button>Add friend</ion-button>
  </form>
  <!--friendlist-->
  <div class="box2">
    <div class="friend"> <!--loop here-->
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light" [routerLink]="['/home/friend/chat']"></ion-icon>
      </div>
    </div>

    <!--below just dummy-->
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
    <div class="friend">
      <!--user avatar-->
      <div class="avatar">
        <div></div>
      </div>
      <!--info-->
      <div class="info">
        <h4>Username</h4>
        <p>Added Yesterday</p>
      </div>
      <!--Chat icon-->
      <div class="icon">
        <ion-icon name="chatbox-ellipses" class="reportBtn" color="light"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
