ion-content{
    --ion-background-color: white;
}

.headercolor{
    --background: transparent;
    --color: black;
}

h1,p{
    color: black;
    font-weight: bold; font-family: Arial;
}

p{
    color: rgb(100, 99, 99);
    font-size: 14px;
}

h1{
    font-size: 32px;
}

.title, .subtitle{
    display: block;
    width: 100%; height: 12vh;
    padding-left: 30px;
}

.subtitle{
    padding-right: 120px;
}

.myinput, .submit{
    display: block;
    width: 100%; height: 30vh;
}

ion-item{
    border-radius: 20px;
    width: 70%;
    margin-top: 20%;
    margin-left: auto; margin-right: auto;
}

.submit{
    height: 10vh;
}

ion-button{
    display: block;
    width: 40%; height: 10px;
    font-size: 14px;
    margin-left: auto; margin-right: auto;
    margin-top: 10px;
}