<ion-header [translucent]="true">
  <ion-toolbar class="headercolor">
    <ion-buttons>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--title-->
  <div class="title">
    <h1>Forgot Your Password?</h1>
  </div>
  <!--subtitle-->
  <div class="subtitle">
    <p>We Will Send you OTP through your email and proceed to reset your password</p>
  </div>
  <!--form-->
  <form action="">
    <!--input-->
    <div class="myinput">
      <ion-item color="dark">
        <ion-icon name="mail"></ion-icon> &nbsp;
        <ion-input type="mail" placeholder="Enter your email address"></ion-input>
      </ion-item>
    </div>
    <!--submit button-->
    <div class="submit">
      <ion-button>Reset your password</ion-button>
    </div>
  </form>
</ion-content>
